#grp-header .grp-modeltranslation {
    float: right;
}

#grp-header .grp-modeltranslation ul {
    margin: 4px 0 0 0;
    padding: 0;
}

#grp-header .grp-modeltranslation li {
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;
    float: left;
}

#grp-header .grp-modeltranslation li a {
    padding: 1px 6px;
    display: block;
    color: white;
    min-width: 15px;
    border: 0;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYjJkMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMwOWJiZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4FB2D3), color-stop(100%, #309BBF));
    background-image: -webkit-linear-gradient(#4FB2D3,#309BBF);
    background-image: -moz-linear-gradient(#4FB2D3,#309BBF);
    background-image: -o-linear-gradient(#4FB2D3,#309BBF);
    background-image: linear-gradient(#4FB2D3,#309BBF);
}

#grp-header .grp-modeltranslation li.active a {
    background: #ddd;
    color: #555;
    cursor: default;
}


.grp-submit-row .grp-modeltranslation {
}

.grp-submit-row .grp-modeltranslation ul {
}

.grp-submit-row .grp-modeltranslation li {
    float: left;
}


.grp-submit-row .grp-modeltranslation li:first-child a {
    border-radius: 5px 0px 0px 5px!important;
}

.grp-submit-row .grp-modeltranslation li:last-child a {
    border-radius: 0px 5px 5px 0px!important;
}

.grp-submit-row .grp-modeltranslation a {
    opacity: 1!important;
}
.grp-submit-row .grp-modeltranslation a:hover {
    opacity: 0.65!important;
    background-image: linear-gradient(#4FB2D3, #309BBF);
    background-size: 100% auto;
    border: 1px solid #2B8AAB;
    color: #fff;
}

.grp-submit-row .grp-modeltranslation .active a {
    cursor: default;
    background-image: linear-gradient(#5E5E5E, #444444);
    border-color: #545454;
}

/*
.modeltranslation-switcher {
    border-width: 0!important;
    padding: 2px 2px 0!important;
    margin: 2px!important;
    font-size: 10px!important;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    border-radius: 5px!important;
    background: -moz-linear-gradient(top, #666666, #444444)!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#444444))!important;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#666666', EndColorStr='#444444', GradientType=0)!important;    
}
*/
